#counter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
}

#counter>.panel {
    font-size: 50px;
    margin-bottom: 10px;
}

#counter>.buttons {
    display: flex;
}

#counter>.buttons>#decBtn,
#counter>.buttons>#incBtn {
    margin: 15px;
}

button {
    width: 60px;
    height: 60px;
}